<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animal Adoption!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Adopt!</h1>
    <div>
      <p>
        We've adopted <span></span> pets this year!
      </p>
      <p>
        But there are still <span></span> pets available to be adopted!
      </p>
      <p>We have the following pet types</p>
      <ul style="list-style: nonel">

      <!-- Loop through the list of pet types -->

      </ul>
      <ul style="list-style: none;">

        <!-- Loop through the featured pets -->

      </ul>
    </div>
  </div>
</body>

</html>